<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
         Test Environment Endpoint: 127.0.0.1
      </div>
      <div class="description">
        This is a testing environment description, any relevant information can be assigned here
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <button class="button" class="btn btn-success">Server Online</button>
    </a>
    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <button type="button" class="btn btn-success">Version: <span class="badge">build-#2166</span></button>
    </a>
  </nb-card-footer>
</nb-card>
